<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Marcos Javier Barroso - Curriculum Vitae</title>

    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="The Curriculum Vitae of Marcos Javier Barroso."/>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/style_cv.css' %}" >
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
    <div class="mainDetails">
        <div id="headshot" class="quickFade">
            <img src="/static/image/marcos.jpg" alt="Marcos Javier Barroso" />
        </div>

        <div id="name">
            <h1 class="quickFade delayTwo">Marcos Javier Barroso</h1>
            <h2 class="quickFade delayThree">Developer</h2>
        </div>

        <div id="contactDetails" class="quickFade delayFour" style="display: block">
            <ul>
                <li><a href="mailto:marcosjbarroso82@gmail.com" target="_blank">marcosjbarroso82@gmail.com</a></li>
                <li><a href="http://www.context.com.ar">www.context.com.ar</a></li>
                <li>+54 9 11 351 6222 930</li>
                <li><a href="https://ar.linkedin.com/in/marcosjbarroso82" style="max-height: 12px;" target="_blank">LINKEDIN</a> </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>

    <div id="mainArea" class="quickFade delayFive">
        <section>
            <article>
                <div class="sectionTitle">
                    <h1>Personal Profile</h1>
                </div>

                <div class="sectionContent">
                    <p>Web Developer with experience working on a variety of projects (portals, blogs, e-commerce, mobile).</p>
                    <p>· Passionate learner of every aspect related to coding, design, testing and automation.</p>
                    <p>· Goal oriented person, striving for gradual improvement toward excellence.</p>
                    <p>· Seeking to be involved in the architectural definition of web applications.</p>
                    <p>· Always giving machine learning and natural language processing another try.</p>
                </div>
            </article>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Work Experience</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>CEO at Context - Informatic Innovations</h2>
                    <p class="subDetails">August 2014 - Present</p>
                    <p>Software Development Consulting.</p>
                </article>
                <article>
                    <h2>Web Developer at Unisono</h2>
                    <p class="subDetails">January 2014 - August 2014</p>
                    <p>Working as a Web Developer in ECommerce department. Using php, javascript, css, html.</p>
                </article>
                <article>
                    <h2>Owner at Polygraf</h2>
                    <p class="subDetails">July 2010 - January 2015</p>
                    <p>Own bussiness in packaging industry.</p>
                </article>
                <article>
                    <h2>Web Developer at Gameloft</h2>
                    <p class="subDetails">Janruary 2008 - June 2010</p>
                    <p>Working as a Web Developer in ECommerce department. Using php, javascript, css, html.</p>
                </article>
                <article>
                    <h2>Main Frame Cobol Developer at EDS</h2>
                    <p class="subDetails">January 2007 - December 2007</p>
                    <p>Working as a cobol Programmer for "American Airlines" account..</p>
                </article>
            </div>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Key Skills</h1>
            </div>

            <div class="sectionContent">
                <ul class="keySkills">
                    <li>Python</li>
                    <li>Django</li>
                    <li>Angular</li>
                    <li>Less</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>PHP</li>
                    <li>MySql</li>
                    <li>Javascrpit</li>
                    <li>JQuery</li>
                    <li>Linux</li>
                    <li>Drupal</li>
                    <li>HTML</li>
                    <li>XML</li>
                    <li>GIT</li>
                </ul>
            </div>
            <div class="clear"></div>
        </section>


        <section>
            <div class="sectionTitle">
                <h1>Education</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>UTN FRC ( National Technologic University )</h2>
                    <p class="subDetails">System Engineering ( Complete until 3rd yeat</p>
                    <p>Three yeats Coursed. Not continuing studies at the moment.</p>
                </article>

                <article>
                    <h2>UTN FRC ( Mechatronic Technician )</h2>
                    <p>Carrer focused on mixing multiple disipline such as programming, electronic and mechanic..</p>
                </article>
                <article>
                    <h2>English Studies</h2>
                    <p class="subDetails">First Certificate - Cambridge Institute</p>
                    <p>Certificate obtain with an score of 8.</p>
                </article>
            </div>
            <div class="clear"></div>
        </section>

        <section>
            <div class="sectionTitle">
                <h1>Projects</h1>
            </div>

            <div class="sectionContent">
                <article>
                    <h2>Compraloahi.com.ar</h2>
                    <p class="subDetails">Web and Mobile application of Advertisements.</p>
                    <p>Compraloahi is a Web and Mobile Application of advertisements that allows user to search for products and services close to there geographic location.</p>
                </article>
            </div>
            <div class="clear"></div>
        </section>

    </div>
</div>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-3753241-1");
    pageTracker._initData();
    pageTracker._trackPageview();
</script>
</body>
</html>