<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>Matias Roson - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Matias Roson."/>
<meta charset="UTF-8"> 

<link rel="stylesheet" href="{% static 'css/style_cv_1.css' %}" >
<link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="/static/image/matias.jpg" alt="Matias Roson" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Matias Roson</h1>
			<h2 class="quickFade delayThree">Desarrollador de software</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:matiroson@gmail.com" target="_blank"><img style="max-height: 12px; float:right;" src="/static/image/contact/email-matias.png" /></a></li>
				<li><img style="max-height: 10px; float:right;" src="/static/image/contact/phone-matias.png" /> </li>
				<li><a href="https://ar.linkedin.com/in/matiasroson" style="max-height: 12px; float:right;" target="_blank">LINKEDIN</a> </li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Passionate by technology in general, especially in web technologies. with a great desire to learn and grow. happy to find an inexhaustible source for ambition</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Developer to web and mobile application at Freelancer</h2>
					<p class="subDetails">August 2014 - Present</p>
					<p>Developer to web applications with python/django on backend and Angular frontEnd. And to mobile application with Phonegap/Cordova and Ionic.</p>
				</article>

				<article>
					<h2>Developer to web application at UnisonoIT</h2>
					<p class="subDetails">June 2013 - October 2014</p>
					<p>Developers web applications with actionsScript(FLEX) and php(Drupal).</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			<div class="sectionContent">
				<ul class="keySkills">
					<li><b class="skill-bold">Python</b> (Django, Scrapy)</li>
					<li><b class="skill-bold">JavaScript</b> (AngularJS, JQuery, Ionic, Cordova/Phonegap)</li>
					<li><b class="skill-bold">DB</b> (MongoDB, PostgreSQL, MySql, Sqlite, SQLServer)</li>
					<li><b class="skill-bold">HTML5 - CSS3</b> (LESS, BOOTSTRAP)</li>
					<li><b class="skill-bold">GNU/Linux Administration</b> (Deploy VPS on linux based Debian)</li>
					<li><b class="skill-bold">Php</b> (Drupal, Laravel)</li>
					<li><b class="skill-bold">Java</b></li>
					<li><b class="skill-bold">ActionScript</b> (FLEX)</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>UTN - University Tecnology National</h2>
					<p class="subDetails">Technician in programming </p>
					<p>Learnned programming with ASP.NET and JAVA web and databases to SQLServer.</p>
				</article>
				<article>
					<h2>Course online Devcode</h2>
					<p class="subDetails">Django 1.7</p>
					<p>Learnned web with framework web python Django 1.7.</p>
				</article>
				<article>
					<h2>Trainning</h2>
					<p class="subDetails">Java Automation Tester</p>
					<p>Learnned test case and implement test with Jbehave on java.</p>
				</article>
				<article>
					<h2>Course to Java</h2>
					<p class="subDetails">Java Programming Advance</p>
					<p>Learnned make web to java.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<button id="btn-download" href="/static/resume_matias.pdf" target="_blank" class="btn" > Download CV </button>

<script type="text/javascript">
	document.getElementById('btn-download').addEventListener("click", function(){
		window.open('/static/resume_matias.pdf', '_blank');
		//document.location = 'data:application/pdf,' + encodeURIComponent('/static/resume_matias.pdf');
	})
</script>
</body>
</html>
