<!DOCTYPE html>
{% load staticfiles %}
{% load thumbnail %}
<html ng-app="porfolio_app">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Contex </title>

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.css' %}" >

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" >
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="logo-mini" src="static/image/context-mini-black.png" alt=""/>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Projects</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">Us</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
{#                <img class="img-responsive" src="/static/image/logo.png" alt="">#}
                <img class="img-responsive" src="/static/image/context-logo-white.png" alt="">
                <div class="intro-text">
                    <span class="name">Informatic Innovation</span>
                    <hr class="star-light">
                    <span class="skills">Web App Developer - App Mobile Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            {% for work in object_list %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#{{ work.title|cut:" " }}" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        {% with work.images.all|first as image %}
                            <!-- TODO: Implementar thumbnail -->
                            <div class="img-content" style="background-image: url('{{ image.image.url }}')"></div>
                        {% endwith %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Us</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>We're a team of professionals passionated about our jobs. Quality and excellence are our philosophy, continuous
                auto-improvement our dayly goal. Specialized in web technology, we always seek to develop applications
                based on standards and good practices to get as a result software easy to maintain and reusable code by any developer
                of our team or our client's.</p>
                <!--
                <p>Somos un equipo de profesionales apasionados por nuestro trabajo. Calidad y excelencia son nuestra filosofia,
                innovacion y constante supueracion nuestro objetivo cada dia. Especializados en tecnologias web, buscamos siempre
                desarrollar aplicaciones que cumplan con los standars y buenas practicas que den como resultado, software con
                codigo facil de mantener o reutilizar por cualquier desarrollador, ya sea de nuestro equipo o de nuestros clientes.</p>
                -->
{#                <p>{% lorem 1 %}</p>#}
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <a href="{% url 'cv-marcos' %}" target="_blank" class="btn btn-lg btn-outline pull-left">
                    <i class="fa fa-external-link-square"></i> Marcos Barroso CV
                </a>
                <a href="{% url 'cv-matias' %}" target="_blank" class="btn btn-lg btn-outline pull-right">
                    <i class="fa fa-external-link-square"></i> Matias Roson CV
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="passion">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Passions</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row" style="position: relative; min-height: 500px;">
            <img style="  margin-left: auto; margin-right: auto; width: 80%; display: block;" src="static/image/technology-logos.png" alt=""/>

        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact us</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" ng-controller="ContactController as vm">
                <form id="contactForm" novalidate angular-validator angular-validator-submit="vm.submit()" name="contact_form" enctype="multipart/form-data">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="contact-email">Name</label>
                            <input type="text"
                                   ng-model="vm.contact.name"
                                   class="form-control"
                                   placeholder="Name"
                                   id="contact-email"
                                   name="contact-email"
                                   required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="contact-email">Email Address</label>
                            <input type="email"
                                   ng-model="vm.contact.email"
                                   class="form-control"
                                   placeholder="Email Address"
                                   id="contact-email"
                                   name="contact-email"
                                   required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label class="contact-phone">Phone Number</label>
                            <input type="tel"
                                   ng-model="vm.contact.phone"
                                   class="form-control"
                                   name="phone"
                                   placeholder="Phone Number" id="phone"
                                   >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="contact-message">Message</label>
                            <textarea rows="5"
                                      class="form-control"
                                      ng-model="vm.contact.description"
                                      placeholder="Message"
                                      id="contact-message"
                                      name="contact-message"
                                      required="required"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-lg pull-right">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>Argentina, Cordoba<br>Cordoba, CP 5000</p>
                </div>
{#                <div class="footer-col col-md-4">#}
{#                    <h3>Around the Web</h3>#}
{#                    <ul class="list-inline">#}
{#                        <li>#}
{#                            <a href="#" class="btn-social btn-outline"><i class="fa fa-facebook"></i></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#" class="btn-social btn-outline"><i class="fa fa-google-plus"></i></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#" class="btn-social btn-outline"><i class="fa fa-twitter"></i></a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#" class="btn-social btn-outline"><i class="fa fa-linkedin"></i></a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
                <div class="footer-col col-md-4 pull-right">
                    <h3>Email</h3>
                    <p><img src="/static/image/context-mail-white.png" alt=""/></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; context.com.ar 2015
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
{% for work in object_list %}
    <div class="portfolio-modal modal fade" id="{{ work.title|cut:" " }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>{{ work.title }}</h2>
                            <hr class="star-primary">


                            <div id="carousel-{{ work.title|cut:" " }}" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">

                                    {% for image in work.images.all %}
                                        {% if forloop.first %}
                                            <div class="item active">
                                                <img class="img-responsive img-centered" src="{{ image.image.url }}">
                                                <div class="carousel-caption">
                                                    <h4>{{ image.description }}</h4>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="item">
                                                <!-- TODO: Implementar thumbnail -->
                                                <img class="img-responsive img-centered" src="{{ image.image.url }}">
                                                <div class="carousel-caption">
                                                    <h4>{{ image.description }}</h4>
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% endfor %}
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-{{ work.title|cut:" " }}" role="button" data-slide="prev">
                                    <!--<span class="fa fa-chevron-left fa-3x"></span>-->
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#carousel-{{ work.title|cut:" " }}" role="button" data-slide="next">
                                    <!--<span class="glyphicon fa fa-chevron-right fa-3x"></span>-->
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>

                            <p>{{ work.description }}</p>
                            <!--<ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}



<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="{% static 'bower_components/classie/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cbpAnimatedHeader.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="{% static 'js/freelancer.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/tg-angular-validator/dist/angular-validator.js' %}"></script>
<script type="text/javascript" src="{% static 'porfolio-app/app.js' %}"></script>



</body>

</html>
